.m-panel{
	width: 200px;
	min-height: 102px;
	padding: 30px 20px;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
}
a:hover {
	text-decoration: none;
}
