<html>
<head>
	<meta charset="utf8">
	<title>Paper</title>
	<link rel="stylesheet" type="text/css" href="../css/function.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<style>
		body {
			background: #ECF0F1;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row f-mt40">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
				  	<div class="panel-body">
				  		<h1 class="text-center">PAPER</h1>
				    	<form role="form" action="/login" method="post">
						  	<div class="form-group">
						    	<label for="username">username</label>
						    	<input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
						    	<label for="password">password</label>
						    	<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
						  	</div> 
						  	<button type="submit" class="btn btn-primary  btn-block">Submit</button>
						  	<p class="text-primary text-center f-mt20">
						  		<a href="/register">I have no account</a>
						  	</p>
						</form>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>